<!--<footer class="row footer justify-content-between" [ngClass]="{'footer-down': footerDown}">-->
<footer class="row footer justify-content-between">

  <div class="col-4 text-center">
  </div>

  <div class="col-1 text-center">
    <a href="https://www.techprogress.de/ueber" target="_blank">Über</a>
  </div>

  <div class="col-1 text-center">
    <a href="mailto:suess.ralf@posteo.de">Support</a>
  </div>

  <div class="col-1 text-center">
    <a href="https://www.techprogress.de/impressum">Impressum</a>
  </div>

  <div class="col-1 text-center">
    <a href="https://www.techprogress.de/datenschutz">Datenschutz</a>
  </div>

  <div class="col-4 text-center">
  </div>

</footer>
